//brings in global config
@import 'config';
@import 'utilities';
@import 'form';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

// allows all Images to take full width of their container w/o breaking
img {
  width: 100%;
}

//NavBar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
    &:hover {
      color: $primary-color;
    }
  }
}

// Landing Page

.landing {
  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

//Parallax background images
.img1,
.img2,
.img3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1 {
  background-image: url('../img/blondhair.jpg');
  min-height: 80%;
  margin-top: 20px;
}

.img2 {
  background-image: url('../img/makeup_artist.jpg');
  min-height: 600px;
  margin-top: 20px;
}

.img3 {
  background-image: url('../img/phtg1.jpg');
  min-height: 600px;
  margin-top: 20px;
}

// Profiles page

.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

// individual Profile page

.profile-grid {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp exp';
  grid-gap: 2rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .icons a {
      color: #fff;
      margin: 0 0.3rem;

      &:hover {
        color: $dark-color;
      }
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .profile-exp {
      grid-area: exp;
    }

    .profile-exp {
      & > div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: #ccc 1px dotted;

        &:last-child {
          border: none;
        }

        p {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

//Posts page

.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1sfr 4fr;
  grid-gap: 1rem;

  img {
    width: 150px;
  }
}

//Footer

.footer {
  display: flex;
  background: #333;
  height: 60px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  bottom: 0px;
}

.footer-content {
  position: absolute;
  font-size: 0.9rem;
  color: #fff;
  padding: 0.7rem 2rem;
  align-items: center;
  text-align: center;

  copyright {
    margin: 0;
  }
}

@import 'mobile';
